<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>firstApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86E222AC1D7092850060DAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86E222C01D7092850060DAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86E222CB1D7092850060DAF8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
